*{
    margin: 0;
    padding: 0;
}

header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  20px;
    
    background-color: rgb(1, 1, 11);
    color: rgb(246, 242, 242);
    border-bottom: 2px solid red;
    }
header nav a{
    color: azure;
    text-decoration: none;
    display: inline-block;
    padding:  20px;
    margin: 20px;
    transition: .5s;
    border-radius: 10px;
    
}
header nav a:hover{
    background-color: red;
}
footer{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  20px;
    
    background-color: rgb(1, 1, 11);
    color: rgb(246, 242, 242);
    border-bottom: 2px solid red;
}

footer nav a{
    color: azure;
    text-decoration: none;
    margin: 20px;
    margin-left: 230px;  
    
}
.contenedor{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
     
     
 }
.header{
   
   display: grid;
    width: 100%;
    padding: 20px;
  


}

.header a{
   

 
}
.header img{
    border-radius: 20px;
    box-shadow: 0 0 0 8px rgba(0,0, 0, .6);
    margin: 20px 20px;
    transition: .3s;
    height: 250px;
    width: 220px;
}

.header a:hover img{
    box-shadow: 0 0 0 12px rgba(0,0, 0, .06);
}
.header h2{
    color: rgb(255, 0, 0);
    margin-left: 60px;

}
.header h4{
   margin-top: 10px;
    margin-left: 110px;
}
.horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}

button a{
    text-decoration: none;
}
@media(max-width :810px){
    .contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 130px;

    }
    
    header{
        flex-direction: column;
        
    }
    .titulo {
      width: 50%;
      height: 400px;
      margin-left: 150px;
    }
    .titulo h3{
        font-size: 30px;
    }
    .titulo p{
        font-size: 25px;
    }
}
@media(max-width:590px){
    .contenedor{
        width: 90%;
        margin-left: 15px;
    }

    .header{
        padding: 20px 20px 5px 20px;
        border: none;
        width: 40%;
        
    }
    .descrip{
        padding: 5px 20px 20px 20px ;
        background: transparent;
        width: 70%;
    }
   .header img {
    width: 150px;
    height: 200px;
   }
  .descrip img{
    width: 200px;
    height: 250px;
    
  }
    
}

@media(max-width:400px){
    .contenedor{
       display: block;
       margin: 80px;
       font-size: 12px;
       
    }

    .header{
    padding: 20px 20px 5px 20px;
    border: none;
        
        
    }
    .descrip{
        padding: 5px 20px 20px 20px;
        
    }
    button {
        margin-top: 100px;
    }
    button a {
        text-decoration: none;
    
    }
    header h2 h4 {
        margin-left: 130px;
    }
}


.horizontal li:hover .vertical{
    display: block;
}
